/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #cc99cd;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #f08d49;
}

.hljs-string,
.hljs-doctag {
  color: #7ec699;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #6196cc;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #f8c555;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #e2777a;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #7ec699;
}

.hljs-symbol,
.hljs-bullet {
  color: #ccc;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #cc99cd;
}

.hljs-meta {
  color: #808080;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #f003;
}

.hljs-addition {
  background: #0f03;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}
